header {
    background-color: #566954;
    margin-bottom: 1.45rem;
}

div {
    margin: "0 auto";
    max-width: 960px;
    padding: 1.15rem 1.0875rem;
}

Link {
    color: white;
    text-decoration: "none";
}